#body-old {
  background-image: url("Leonardo-Vitruvian-Man.png");
}

.title {
  margin-top: 20px;
  text-align: center;
  width: 90%;
  font-size: 42px;
}

#motto {
  margin-top: 10px;
  text-align: center;
  width: 90%;
  font-size: 24px;
}

.video-holder {
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
  width: 90%;
}



/* old site below this line */

#videos {
  margin-top: 20px;
  text-align: center;
  width: 90%;
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 42px;
  background-color: white;
}

#about-us {
  width: 90%;
  text-align: center;
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 20px;
  font-size: 42px;
  background-color: white;
}

#video-history {
  width: 30%;
  text-align: center;
  border-radius: 20px;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 20px;
  font-size: 42px;
  background-color: white;
}
